access=public
init-author-name=Odroe, Inc.
init-author-email=hello@odroe.com
init-author-url=https://odroe.com
init-license=BSD-3-Clause
init-version=0.0.0
ignore-scripts=true
git-tag-version=false
commit-hooks=false
